.new-tweet {
  padding-left: 4rem;
  width: 90%;
  margin-top: 1rem;
}

#tweet-text {
  width: 100%;
  max-height: 2rem;
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid black;
  font-family: inherit;
}

.tweet-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  font-family: 'Bungee';
  color: rgb(83, 54, 15);
  margin-bottom: 2rem;

}

button {
  background-color: blue;
  color: azure;
  border: 0;
  padding-inline: .5rem;
}